p {
  font-size: 20px;
  margin-bottom: 10px;
}
a {
  font-size: 20px;
  margin-bottom: 20px;
}
ul {
  font-size: 20px;
}
th {
  font-size: 20px;
}
table,
th,
td,
tbody {
  border: 1px solid black;
}
